.title {
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	width: 250px;
	margin: auto;
	border: solid;
}
.note {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	border: solid;
	background-color: yellow;
}
a, a:hover {
	color: white;
}
